<header>
  <h2>Directive Personnalisée</h2>
</header>

<p appHighlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam asperiores consequuntur dolor nihil
  odit, porro ratione similique tenetur voluptatem? Blanditiis eligendi ipsam molestiae odio, quidem repudiandae? Magni,
  odio, suscipit?</p>

<!--p appHighlight [bgColor]=" 'yellow' "-->

<p [appHighlight]=" 'yellow' ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam asperiores consequuntur dolor nihil
  odit, porro ratione similique tenetur voluptatem? Blanditiis eligendi ipsam molestiae odio, quidem repudiandae? Magni,
  odio, suscipit?</p>

<p [appHighlight]=" 'black' " [color]=" 'green' ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam asperiores consequuntur dolor nihil
  odit, porro ratione similique tenetur voluptatem? Blanditiis eligendi ipsam molestiae odio, quidem repudiandae? Magni,
  odio, suscipit?</p>
